extends layout
block content
	nav(class = 'navbar navbar-full navbar-default noborder navbar-fixed-top navbar-gyan-custom')
		div(class = 'container')
			div( class = 'navbar-header')
				button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#navbar')
					span(class='icon-bar')
					span(class='icon-bar')
					span(class='icon-bar')
				a( class = 'navbar-brand brand-font navbar-gyan-custom' href = 'quiz') Gyan Quiz
			div(class = 'collapse navbar-collapse' id='navbar')
				ul(class='nav navbar-nav navbar-right brand-font')
					li(class = 'dropdown')
						a(href='#' class = 'dropdown-toggle navbar-gyan-custom' data-toggle='dropdown' role = 'button' aria-haspopup="true" aria-expanded="false") More
							span(class='caret')
						ul(class='dropdown-menu gyan-custom-dropdown-menu')
							li
								a(href='/') Home
								a(href='#') About
	block page