extends layout
block content
	div(id = 'logoContainer')
		canvas(id = 'kanaCanvas' width = '700px' height = '250px')

	script(src = '/javascripts/third_party/kana.js')
	script(src = '/javascripts/index.js')