doctype html
html(ng-app = 'Gyan')
	head
		title= title
		meta(content="Gyan Web" name="Sharing and serving knowledge")
		meta(content="Gyan Web" name="340rahul")

		link(rel = 'stylesheet' href = '/../bower_components/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		link(rel='stylesheet' href='/stylesheets/quiz.css')
		link(rel = 'stylesheet' href = '/stylesheets/bootstrap-overwrite.css')
		link(rel = 'stylesheet' href = 'https://fonts.googleapis.com/css?family=Jockey+One' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Cairo:600' rel='stylesheet' type='text/css')

		script(src = '../bower_components/jquery/dist/jquery.min.js')
		script(src = '../bower_components/bootstrap/dist/js/bootstrap.min.js')
		script(src = '../bower_components/angular/angular.min.js')
		script(src= '../bower_components/angular-animate/angular-animate.min.js')
		script(src = '../bower_components/angular-route/angular-route.min.js')
		script(src = '/javascripts/controllers/quizController.js')
		script(src = '/javascripts/services/gyan_quiz/qService.js')
		meta(name='viewport' content='width = device-width, initial-scale=1')
			
	body(ng-cloak class = "ng-cloak")
		block content
