extends header
block page
	div(class = 'container main-container' ng-controller='quizController')
		div(class = 'col-xl-2 col-lg-4 col-md-4 col-xs-6' id='startContainer' ng-show='currentScreen == "startScreen"')
			button(id = 'startBtn' class = 'btn btn-primary btn-lg gyan-bg-btn btn-block' ng-click='startBtnClicked()') START QUIZ!
			button(id = 'rulesBtn' class = 'btn btn-primary btn-lg gyan-bg-btn btn-block' ng-click='rulesBtnClicked()') RULES		
		
		div(id='quizCard' class='col-xl-6 col-lg-8 col-md-10 col-xs-12 leave ng-cloak' ng-show='currentScreen != "startScreen"')
			
			div(id = 'rules' ng-show = 'currentScreen == "rulesScreen"' class='leave')
				
				div(id='rulesHeader') 
					span(style = 'font-weight: bold; text-decoration: underline') RULES
				div(class='rules-label')     - You will be presented with up to 20 questions (depending upton the available questions).
				div(class='rules-label')     - Each question will have 4 options to choose from.
				div(class='rules-label')     - Only one of the options will be the correct one.
				div(class='rules-label')     - Correct answer earns you 3, or 2, or 1 point (as per the difficulty of the question) &nbsp;&nbsp;&nbsp;&nbsp;while a wrong answer will earn you 0 points.
				div(class='rules-label')     - You can choose from the available categories and difficulty.
				div(class='rules-label')     - Good Luck!
				
			
			div(id = 'categorySelectDiv' ng-show = 'currentScreen == "categorySelectScreen" && !quizStarted' class='leave')
						div(class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12')
							label(for='categorySelect' class = 'select-label') Please select a category:
							select(ng-change='getDifficulties()' name='categorySelect' id = 'categorySelect' ng-model = 'user.category' ng-options = 'value for value in categories track by value' class = 'select-gyan-custom')
						div(class='col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12')
							label(for='difficultySelect' class = 'select-label') Please select a difficulty:
							select(name='difficultySelect' id = 'difficultySelect' class='select-gyan-custom' ng-model = 'user.difficulty' ng-options = 'value for value in difficulty track by value')

			div(id = 'contentContainer' ng-show = 'quizStarted && !quizCompleted && noChangeReq' class='leave')
				div(id = 'textContainer')
				
				div(id = 'optionsContainer' ng-show = 'quizStarted')
					div(class = 'options' ng-click = 'optionClicked($event)' value='1' id = 'optionDiv1')
						span(class = 'options-span' id = 'option1')
					div(class = 'options' ng-click = 'optionClicked($event)' value='2' id = 'optionDiv2')
						span(class = 'options-span' id = 'option2')
					div(class = 'options' ng-click = 'optionClicked($event)' value='3' id = 'optionDiv3')
						span(class = 'options-span' id = 'option3')
					div(class = 'options' ng-click = 'optionClicked($event)' value='4' id = 'optionDiv4')
						span(class = 'options-span' id = 'option4')
			
			div(id = 'scoreCard' ng-show = 'quizCompleted' class='leave')
				div(id = 'chartContainer')
					div(id = 'doChart')
						div(id = 'chartCover')
						div(id = 'hole')
				div(id = 'scoreCardText') Your gyan level on category {{user.category}} (in {{user.difficulty}} mode) is:
				span(id='scoreHolder') 
							
		div(id = 'ioContainer' class='col-xl-6 col-lg-8 col-md-10 col-xs-12')
			div( id = 'nextBtn' class = 'row gyan-card-btn' ng-click = 'nextBtnClicked()' ng-show = '!quizStarted') NEXT
			div( id = 'backBtn' class = 'row gyan-card-btn' ng-click = 'backBtnClicked()' ng-show = '!quizStarted') BACK
			div( id = 'resetBtn' class= 'row gyan-card-btn' ng-click = 'resetBtnClicked()' ng-show = 'resetBtnRequired') TRY AGAIN
			div(id = 'cardOutput' class = 'row gyan-card-output' ng-show = 'outputRequired')  QUESTION# {{user.currentQuestion}} / {{batchSize}} &nbsp;&nbsp;&nbsp; SCORE: {{( (user.score/totalPoints) * 100 ) | number:0}}
			div(id = 'errorOutput' class = 'row gyan-card-output' ng-show = 'errorOutputRequired') ERORR:&nbsp; 
							
	script(src = '../bower_components/qtip2/jquery.qtip.min.js')
	link(href = '../bower_components/qtip2/jquery.qtip.min.css' rel='stylesheet' type='text/css')