.main-container {
	/*	font-size: 14px;*/
	font-family: 'Cairo', sans-serif;
	height: 100%;
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: column;
}


/* Large desktops and laptops */

@media (min-width: 1200px) {
	.main-container {
		font-size: 16px;
	}
}


/* Landscape tablets and medium desktops */

@media (min-width: 992px) and (max-width: 1199px) {
	.main-container {
		font-size: 14px;
	}
}


/* Portrait tablets and small desktops */

@media (min-width: 768px) and (max-width: 991px) {
	.main-container {
		font-size: 14px;
	}
}


/* Landscape phones and portrait tablets */

@media (max-width: 767px) {
	.main-container {
		font-size: 12px;
	}
}


/* Portrait phones and smaller */

@media (max-width: 480px) {
	.main-container {
		font-size: 10px;
	}
}

#startContainer {
	height: 50%;
	display: flex;
	align-items: center;
	flex-flow: column wrap;
}

#startBtn {
	margin-bottom: 50px;
}

#quizCard {
	font-family: 'Cairo', sans-serif;
	display: flex;
	/*	align-items: center;*/
	justify-content: center;
	flex-flow: column wrap;
	background-color: #406DDD;
	color: white;
	min-height: 240px;
	padding-top: 8px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 8px;
    overflow-x: hidden;
}

#rules {
	display: flex;
	flex-flow: column wrap;
}

#rulesHeader {
	display: inline-block;
	margin-bottom: 8px;
}

.rules-label {
	margin-bottom: 8px;
	padding-left: 8px;
	display: inline-block;
}

.rules-label:hover {
	background-color: #2F50A3;
}

#categorySelectDiv {
	display: flex;
	flex-flow: column;
	align-items: center;
	justify-content: center;
}

.options {
	width: 100%;
	padding-left: 20px;
	background-color: #406DDD;
	background: #406DDD;
	transition: all 0.3s;
}

.options:hover,
.options:focus {
	background-color: #2F50A3;
	background: #2F50A3;
	cursor: pointer;
}

.options-span {
	display: inline-block;
	margin-bottom: 8px;
}

#textContainer {
	padding-top: 8px;
	padding-bottom: 12px;
	padding-left: 5px;
	padding-right: 5px;
}

#textContainer:hover,
#textContainer:focus {
	background-color: #2F50A3;
}

.select-label {
	width: 50%;
}

#categorySelect,
#difficultySelect {
	width: 50%;
	padding: 5px;
	margin-bottom: 5px;
}

#backBtn:hover, #resetBtn:hover {
	background-color: #FF4B3F;
	color: white;
}

.gyan-card-btn {
	color: black;
	display: block;
	border: none;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
	background-color: whitesmoke;
	padding: 8px;
}

.gyan-card-output {
	color: black;
	display: block;
	border: none;
	background-color: #FF4B3F;
	text-align: center;
	padding: 8px;
}

.gyan-card-btn:hover {
	background-color: #2F50A3;
	color: white;
}

#ioContainer {
	display: none;
}

#scoreCard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#chartContainer{
    width:  125px;
    height: 125px;
    margin: 12px;
}

#doChart{
    width: 100%;
    height: 100%;
    background-color: #FF4B3F;
    border-radius: 50%;
    background: linear-gradient(to right, #FF4B3F 50%, #00B32D 50%);
    box-shadow: -2px 2px 4px;
    position: relative;
    color: black;
}

#hole {
  border-radius: 50%;
  color: black;
  position: absolute;
  text-align: center;
  line-height: 65px;
  top: 25%;
  left: 25%;
  display: inline-block;
  background-color: #406DDD;
  width: 50%;
  height: 50%;
  box-shadow: inset -2px 2px 4px;
  font-family: 'Cairo', sans-serif;
}

#chartCover {
  content: "";
  display: inline-block;
  width: 50%;
  height: 100%;
  margin-left: 50%;
  background-color: #FF4B3F;
  border-radius: 0 100% 100% 0 / 50%;
  transform-origin: left;
}

.leave.ng-hide-remove{
    transition: 0.3s linear all;
    opacity: 0;
    transform: translateX(100%);
}

.leave.ng-hide-remove.ng-hide-remove-active{
    opacity: 1;
    transform: translateX(0%);
}

.leave.ng-hide-add{
    transition: 0.4s linear all;
    opacity: 1;
    transform: translateX(0%);
}

.leave.ng-hide-add.ng-hide-add-active{
    transform: translateX(-100%);
    opacity: 0;
}