[ng\:cloak]. [ng-cloak],
.ng-cloak {
	display: none;
}

html,
body {
	height: 100%;
	background-color: rgb(25, 25, 25);
	min-height: 100%;
}

body {
	padding-top: 55px;
}

.gyan-custom-dropdown-menu{
    border-radius: 0;
}

#logoContainer {
	font-family: 'Jockey One', sans-serif;
}

.gyan-bg-btn {
	color: black;
	border-radius: 0;
	border: 0;
	cursor: pointer;
	text-decoration: none;
	background-color: whitesmoke;
	font-family: "Cairo";
	font-size: inherit;
}

.gyan-bg-btn:hover {
	background-color: #406DDD;
	color: whitesmoke;
	border: 0;
	outline: none;
}

.gyan-bg-btn:focus,
.gyan-bg-btn:active {
	background-color: #4006DDD;
	border: 0;
	outline: none;
}

#kanaCanvas {
	top: 50%;
	left: 50%;
	margin-left: -350px;
	/*negtive half of the width of the canvas*/
	margin-top: -160px;
	/*negtive half of the height of the canvas*/
	position: absolute;
	padding: 0px;
}

.gyan-big-btn:hover {
	text-decoration: none;
	color: white;
	background-color: #406DDD;
}

.brand-font {
	font-family: "Jockey One";
	font-size: 18pt;
}

.noborder {
	border-radius: 0px !important;
}

.navbar-gyan-custom {
	background-color: white !important;
	color: rgb(25, 25, 25) !important;
}

.navbar-gyan-custom:hover {
	color: black !important;
}

.select-gyan-custom {
	background-color: #2F50A3;
	color: white;
	border: none;
	font-family: "Cairo";
	appearance: none;
	-moz-appearance: none;
	/* Firefox */
	-webkit-appearance: none;
	/* Safari and Chrome */
	font-size: inherit;
}